target
.idea
.classpath
.metadata
.project
.settings
.externalToolBuilders
maven-eclipse.xml
*.swp
*.iml
*.ipr
*.iws
*.bak
.vlt
.DS_Store
jcr.log
atlassian-ide-plugin.xml
.vlt-sync.log
.vlt-sync-config.properties
node
node_modules
core.wcm.components.commons.datalayer.*
