{
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "hobs": false,
        "Granite": false
    },
    "rules": {
        "camelcase": ["error", {
            "properties": "never"
        }],
        "valid-jsdoc": "off"
    }
}
