name: SYNC
env:
  # Username/email used to commit to the Core Components Library
  USER_NAME: ${{ secrets.LIBRARY_USER_NAME }}
  PROJECT_DIR: core-components
  MAIN_REPOSITORY: ${{ secrets.LIBRARY_REPOSITORY }}
 
# Only run on a push to this branch
on:
  push:
     branches: [ development ]
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      # Checkout this project into a sub folder
      - uses: actions/checkout@v2
        with:
          path: sub
      # Cleanup sub project
      - name: Clean project
        run: |
          git -C sub log --format="%an : %s" -n 1 > commit.txt
          rm -rf sub/.git
          rm -rf sub/.github
      # Set global git configuration
      - name: Set git config
        run: |
          git config --global credential.helper cache
          git config --global user.email ${{ secrets.LIBRARY_USER_EMAIL }}
          git config --global user.name ${USER_NAME}
      # Checkout the main project
      - name: Checkout main project
        run:
          git clone -b ${{ secrets.LIBRARY_BRANCH_DEV }} https://${USER_NAME}:${{ secrets.LIBRARY_PASSWORD }}@${{ secrets.LIBRARY_REPOSITORY }} main 
      # Move sub project
      - name: Move project to main
        run: |
          rm -rf main/${PROJECT_DIR} 
          mv sub main/${PROJECT_DIR}
      - name: Commit Changes
        run: |
          git -C main add ${PROJECT_DIR}
          git -C main commit -F ../commit.txt
          git -C main push
