<div class="carousel-v1 carousel panelcontainer">
    <div aria-live="polite" aria-roledescription="carousel" class="cmp-carousel" data-cmp-data-layer="{&quot;carousel-v1-0bd7f286ee&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1&quot;,&quot;shownItems&quot;:[]}}" data-cmp-delay="5000" data-cmp-is="carousel" data-panelcontainer="carousel" data-placeholder-text="Please add Carousel components here" id="carousel-v1-0bd7f286ee" role="group">
        <div class="newpar new section aem-Grid-newComponent"></div>
    </div>
</div>