<div class="carousel-v1 carousel panelcontainer">
    <div aria-live="polite" aria-roledescription="carousel" class="cmp-carousel" data-cmp-autopause-disabled="" data-cmp-data-layer="{&quot;carousel-v1-85ac71285d&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1&quot;,&quot;shownItems&quot;:[&quot;carousel-v1-85ac71285d-item-06464bb286&quot;]}}" data-cmp-delay="5000" data-cmp-is="carousel" data-panelcontainer="carousel" data-placeholder-text="Please add Carousel components here" id="carousel-v1-85ac71285d" role="group">
        <div aria-atomic="false" aria-live="off" class="cmp-carousel__content">
            <div aria-label="Slide 1 of 3" aria-labelledby="carousel-v1-85ac71285d-item-06464bb286-tab" aria-roledescription="slide" class="cmp-carousel__item cmp-carousel__item--active" data-cmp-data-layer="{&quot;carousel-v1-85ac71285d-item-06464bb286&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1/item&quot;}}" data-cmp-hook-carousel="item" id="carousel-v1-85ac71285d-item-06464bb286-tabpanel" role="tabpanel">
                <div class="cmp cmp-text">
                    <div class="cq-placeholder " data-emptytext="Text"></div>
                </div>
            </div>
            <div aria-label="Slide 2 of 3" aria-labelledby="carousel-v1-85ac71285d-item-11c1725aa7-tab" aria-roledescription="slide" class="cmp-carousel__item" data-cmp-data-layer="{&quot;carousel-v1-85ac71285d-item-11c1725aa7&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1/item&quot;}}" data-cmp-hook-carousel="item" id="carousel-v1-85ac71285d-item-11c1725aa7-tabpanel" role="tabpanel">
                <div class="cmp cmp-text">
                    <div class="cq-placeholder " data-emptytext="Text"></div>
                </div>
            </div>
            <div aria-label="Slide 3 of 3" aria-labelledby="carousel-v1-85ac71285d-item-beb6ef385a-tab" aria-roledescription="slide" class="cmp-carousel__item" data-cmp-data-layer="{&quot;carousel-v1-85ac71285d-item-beb6ef385a&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1/item&quot;}}" data-cmp-hook-carousel="item" id="carousel-v1-85ac71285d-item-beb6ef385a-tabpanel" role="tabpanel">
                <div class="cmp cmp-text">
                    <div class="cq-placeholder " data-emptytext="Text"></div>
                </div>
            </div>
            <div class="cmp-carousel__actions">
                <button aria-label="Previous" class="cmp-carousel__action cmp-carousel__action--previous" data-cmp-hook-carousel="previous" type="button"><span class="cmp-carousel__action-icon"></span><span class="cmp-carousel__action-text">Previous</span></button><button aria-label="Next" class="cmp-carousel__action cmp-carousel__action--next" data-cmp-hook-carousel="next" type="button"><span class="cmp-carousel__action-icon"></span><span class="cmp-carousel__action-text">Next</span></button><button aria-label="Pause" class="cmp-carousel__action cmp-carousel__action--pause" data-cmp-hook-carousel="pause" type="button"><span class="cmp-carousel__action-icon"></span><span class="cmp-carousel__action-text">Pause</span></button><button aria-label="Play" class="cmp-carousel__action cmp-carousel__action--play cmp-carousel__action--disabled" data-cmp-hook-carousel="play" type="button"><span class="cmp-carousel__action-icon"></span><span class="cmp-carousel__action-text">Play</span></button>
            </div>
            <ol aria-label="Choose a slide to display" class="cmp-carousel__indicators" data-cmp-hook-carousel="indicators" role="tablist">
                <li aria-controls="carousel-v1-85ac71285d-item-06464bb286-tabpanel" aria-label="Slide 1" class="cmp-carousel__indicator cmp-carousel__indicator--active" data-cmp-hook-carousel="indicator" id="carousel-v1-85ac71285d-item-06464bb286-tab" role="tab"></li>
                <li aria-controls="carousel-v1-85ac71285d-item-11c1725aa7-tabpanel" aria-label="Slide 2" class="cmp-carousel__indicator" data-cmp-hook-carousel="indicator" id="carousel-v1-85ac71285d-item-11c1725aa7-tab" role="tab"></li>
                <li aria-controls="carousel-v1-85ac71285d-item-beb6ef385a-tabpanel" aria-label="Slide 3" class="cmp-carousel__indicator" data-cmp-hook-carousel="indicator" id="carousel-v1-85ac71285d-item-beb6ef385a-tab" role="tab"></li>
            </ol>
        </div>
    </div>
</div>