<div class="carousel-v1 carousel panelcontainer">
    <div aria-label="aLabel" aria-live="polite" aria-roledescription="carousel" class="cmp-carousel" data-cmp-data-layer="{&quot;carousel-v1-e4fc230efb&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1&quot;,&quot;shownItems&quot;:[&quot;carousel-v1-e4fc230efb-item-4829cbb57c&quot;]}}" data-cmp-delay="5000" data-cmp-is="carousel" data-panelcontainer="carousel" data-placeholder-text="Please add Carousel components here" id="carousel-v1-e4fc230efb" role="group">
        <div aria-atomic="false" aria-live="polite" class="cmp-carousel__content">
            <div aria-label="Slide 1 of 3" aria-labelledby="carousel-v1-e4fc230efb-item-4829cbb57c-tab" aria-roledescription="slide" class="cmp-carousel__item cmp-carousel__item--active" data-cmp-data-layer="{&quot;carousel-v1-e4fc230efb-item-4829cbb57c&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1/item&quot;}}" data-cmp-hook-carousel="item" id="carousel-v1-e4fc230efb-item-4829cbb57c-tabpanel" role="tabpanel">
                <div class="cmp cmp-text">
                    <div class="cq-placeholder " data-emptytext="Text"></div>
                </div>
            </div>
            <div aria-label="Slide 2 of 3" aria-labelledby="carousel-v1-e4fc230efb-item-f7acf69046-tab" aria-roledescription="slide" class="cmp-carousel__item" data-cmp-data-layer="{&quot;carousel-v1-e4fc230efb-item-f7acf69046&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1/item&quot;}}" data-cmp-hook-carousel="item" id="carousel-v1-e4fc230efb-item-f7acf69046-tabpanel" role="tabpanel">
                <div class="cmp cmp-text">
                    <div class="cq-placeholder " data-emptytext="Text"></div>
                </div>
            </div>
            <div aria-label="Slide 3 of 3" aria-labelledby="carousel-v1-e4fc230efb-item-ba307ba288-tab" aria-roledescription="slide" class="cmp-carousel__item" data-cmp-data-layer="{&quot;carousel-v1-e4fc230efb-item-ba307ba288&quot;:{&quot;@type&quot;:&quot;core-component/components/carousel-v1/item&quot;}}" data-cmp-hook-carousel="item" id="carousel-v1-e4fc230efb-item-ba307ba288-tabpanel" role="tabpanel">
                <div class="cmp cmp-text">
                    <div class="cq-placeholder " data-emptytext="Text"></div>
                </div>
            </div>
            <div class="cmp-carousel__actions">
                <button aria-label="aPrev" class="cmp-carousel__action cmp-carousel__action--previous" data-cmp-hook-carousel="previous" type="button"><span class="cmp-carousel__action-icon"></span><span class="cmp-carousel__action-text">aPrev</span></button><button aria-label="aNext" class="cmp-carousel__action cmp-carousel__action--next" data-cmp-hook-carousel="next" type="button"><span class="cmp-carousel__action-icon"></span><span class="cmp-carousel__action-text">aNext</span></button>
            </div>
            <ol aria-label="aTablist" class="cmp-carousel__indicators" data-cmp-hook-carousel="indicators" role="tablist">
                <li aria-controls="carousel-v1-e4fc230efb-item-4829cbb57c-tabpanel" aria-label="Slide 1" class="cmp-carousel__indicator cmp-carousel__indicator--active" data-cmp-hook-carousel="indicator" id="carousel-v1-e4fc230efb-item-4829cbb57c-tab" role="tab"></li>
                <li aria-controls="carousel-v1-e4fc230efb-item-f7acf69046-tabpanel" aria-label="Slide 2" class="cmp-carousel__indicator" data-cmp-hook-carousel="indicator" id="carousel-v1-e4fc230efb-item-f7acf69046-tab" role="tab"></li>
                <li aria-controls="carousel-v1-e4fc230efb-item-ba307ba288-tabpanel" aria-label="Slide 3" class="cmp-carousel__indicator" data-cmp-hook-carousel="indicator" id="carousel-v1-e4fc230efb-item-ba307ba288-tab" role="tab"></li>
            </ol>
        </div>
    </div>
</div>