<div class="embed-v1 embed">
    <div data-cmp-data-layer="{&#34;embed-v1-dde90cd282&#34;:{&#34;@type&#34;:&#34;core-component/components/embed-v1&#34;}}"
         id="embed-v1-dde90cd282" class="cmp-embed">
        <iframe
            data-cmp-data-layer="{&#34;youtube-dde90cd282&#34;:{&#34;@type&#34;:&#34;core/wcm/components/embed/v1/embed/embeddable/youtube&#34;,&#34;embeddableProperties&#34;:{&#34;youtubeVideoId&#34;:&#34;f7hbWvHKns0&#34;}}}"
            title="youtube video" width="100%" height="390"
            src="https://www.youtube.com/embed/f7hbWvHKns0?origin=http%3A%2F%2Flocalhost%3A4502&hl=en_US&mute=0&autoplay=0&loop=0&rel=0&playsinline=0"
            frameborder="0" allowfullscreen allow="autoplay; fullscreen" aria-label="YouTube Video"></iframe>
    </div>
</div>