<div class="embed-v2 embed">
    <div data-cmp-data-layer="{&#34;embed-v2-c89aceba57&#34;:{&#34;@type&#34;:&#34;core-component/components/embed-v2&#34;}}"
         id="embed-v2-c89aceba57" class="cmp-embed">
        <div class="cmp-embed__youtube" style="padding-bottom: 56.25%">
            <iframe class="cmp-embed__youtube-iframe" title="youtube video"
                    data-cmp-data-layer="{&#34;youtube-c89aceba57&#34;:{&#34;@type&#34;:&#34;core/wcm/components/embed/v1/embed/embeddable/youtube&#34;,&#34;embeddableProperties&#34;:{&#34;youtubeVideoId&#34;:&#34;f7hbWvHKns0&#34;}}}"
                    src="https://www.youtube.com/embed/f7hbWvHKns0?origin=http%3A%2F%2Flocalhost%3A4502&hl=en_US&mute=1&autoplay=1&loop=1&playlist=f7hbWvHKns0&rel=1&playsinline=1"
                    frameborder="0" allowfullscreen allow="autoplay; fullscreen" aria-label="Greenland land of ice"></iframe>
        </div>
    </div>
</div>