<div class="embed-v2 embed">
    <div data-cmp-data-layer="{&#34;embed_v2_url_trailing_whitespace&#34;:{&#34;@type&#34;:&#34;core-component/components/embed-v2&#34;}}"
         id="embed_v2_url_trailing_whitespace" class="cmp-embed">
        <iframe width="200" height="113" src="https://www.youtube.com/embed/vpdcMZnYCko?feature=oembed" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                title="Ocean Surface: 10 Hours of Relaxing Oceanscapes | BBC Earth"></iframe>
    </div>
</div>