<div class="list-v4 list">
    <ul class="cmp-list" data-cmp-data-layer="{&quot;list-v4-5e4674e25f&quot;:{&quot;@type&quot;:&quot;core-component/components/list-v4&quot;}}" id="list-v4-5e4674e25f">
        <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-v4-5e4674e25f-item-5a69939138&quot;:{&quot;@type&quot;:&quot;core-component/components/list-v4/item&quot;,&quot;dc:title&quot;:&quot;List&quot;,&quot;repo:modifyDate&quot;:&quot;0000-00-00T00:00:00Z&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components/list.html&quot;}}">
            <div class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-v2-5e4674e25f&quot;:{&quot;@type&quot;:&quot;core-component/components/teaser-v2&quot;,&quot;dc:title&quot;:&quot;List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components/list.html&quot;}}" id="teaser-v2-5e4674e25f">
                <a class="cmp-teaser__link" data-cmp-clickable="" href="/content/core-components/list.html">
                    <div class="cmp-teaser__content">
                        <h2 class="cmp-teaser__title"> List </h2>
                    </div></a>
            </div></li>
        <li class="cmp-list__item" data-cmp-data-layer="{&quot;list-v4-5e4674e25f-item-39349de669&quot;:{&quot;@type&quot;:&quot;core-component/components/list-v4/item&quot;,&quot;dc:title&quot;:&quot;Embed Test&quot;,&quot;repo:modifyDate&quot;:&quot;0000-00-00T00:00:00Z&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components/embed.html&quot;}}">
            <div class="cmp-teaser" data-cmp-data-layer="{&quot;teaser-v2-5e4674e25f&quot;:{&quot;@type&quot;:&quot;core-component/components/teaser-v2&quot;,&quot;dc:title&quot;:&quot;Embed&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components/embed.html&quot;}}" id="teaser-v2-5e4674e25f">
                <a class="cmp-teaser__link" data-cmp-clickable="" href="/content/core-components/embed.html" target="_blank">
                    <div class="cmp-teaser__content">
                        <h2 class="cmp-teaser__title"> Embed </h2>
                    </div></a>
            </div></li>
    </ul>
</div>