<div class="pdfviewer-v1 pdfviewer">
    <div class="cmp-pdfviewer" data-cmp-client-id="28b07c6be4d544f188dc2f36e33b196b" data-cmp-data-layer="{&quot;pdfviewer-v1-3b09970657&quot;:{&quot;@type&quot;:&quot;core-component/components/pdfviewer-v1&quot;}}" data-cmp-document-file-name="Bodea_Brochure.pdf" data-cmp-document-path="/content/dam/core-components/Bodea_Brochure.pdf" data-cmp-is="pdfviewer" id="pdfviewer-v1-3b09970657">
        <div class="cmp-pdfviewer__content cmp-pdfviewer__full-window" id="pdfviewer-v1-3b09970657-content"></div>
    </div>
</div>